@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
}

:root{
    --bg-theme: #29385b;
    --bg-keys: #d8d8d8;
    --key-shadow-keys: #b4b2b2;
    --bg-screen: #0f1c35;
    --bg-toggle-keypad: #122341;
    --text-color: #15212a;
    --bg-del-reset-key: #20817c;
    --key-shadow-del-reset: #175a5a;
    --bg-result-toggle-key: hsl(6, 63%, 50%);
    --key-shadow-result: hsl(6, 70%, 34%); 

}

body{
    height: 100vh;
    background-color: var(--bg-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    align-items: center;
}

.header{
    display: flex;
    margin: 50px 0 10px;
    position: relative; /*duvida*/
}

.header > h1{
    color: var(--bg-keys);
    position: absolute; /*duvida*/
    left: -140px;
    top: -45px;
}

.user-input{
    background-color: var(--bg-screen);
    height: 80px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
    color: white;
    overflow: hidden;
}

.user-input > .data-previous-operand{
    font-size: 15px;
}

.grid-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    background-color: var(--bg-toggle-keypad);
    width: 300px;
    padding: 15px 10px;
    border-radius: 10px;
}

.grid-container > button{
    margin: 0 8px;
    padding: 9.6px 0;
    border-radius: 5px;
    border: none;
    background-color: var(--bg-keys);
    color: var(--text-color);
    box-shadow:  0 5px var(--key-shadow-keys);
}

button:active{ /*é usado para mover o botão 2 pixels para baixo ao ser clicado, criando uma animação de pressionamento.*/
    transform: translateY(2px);
}

.column-span{
    grid-column: span 2;
}

button:nth-child(17), button:nth-child(4) {
    background-color: var(--bg-del-reset-key);
    box-shadow: 0 5px var(--key-shadow-del-reset);
    color: var(--bg-keys);
    font-size: 18px;
    padding: 17px 0;
}

button:nth-child(18){
    background-color: var(--bg-result-toggle-key);
    box-shadow: 0 5px var(--key-shadow-result);
    color: white;
}

.atribution{
    font-size: 11px;
    text-align: center;
}

.atribution a{
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}